@layer base {
  body {
    background-color: '#ffff';
    color: '#333';
    margin: 0;
  }

   .btn {
     @apply font-bold py-2 px-4 rounded;
   }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  h1 {
    @apply text-2xl;
    @apply text-gray-500;
  }
  h2 {
    @apply text-gray-500;
    @apply text-xl;
  }

  span {
    @apply text-gray-500;
  }
}
